.sub-header {
  padding: 167px 186px;
  background: url("/assets/img/big_img.webp");
  p {
    padding: 0;
    margin: 0;
  }
  p.lead {
    font-weight: 700;
    font-size: 18px;
    color: $secondary;
    line-height: 21px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  p.sub-lead {
    font-family: "Yeseva One";
    font-size: 48px;
    line-height: 55px;
    color: $primary;
  }
  a {
    margin-top: 32px;
    display: block;
    background: $accent;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $primary;
    width: fit-content;
    padding: 13px 35px;
  }
}
section.goals {
  position: relative;
  top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
  a {
    padding: 0 25px;
    background-color: $primary;
    height: 100px;
    width: 316px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    font-family: "Work Sans";
    text-decoration: none;
    line-height: 140%;
    border-radius: 5px;
  }
}
section.welcome {
  text-align: center;
  margin: 61px auto 64px;
  p.welcome {
    text-align: center;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: $black;
    display: block;
    width: 658px;
    margin: 8px auto 32px;
  }
  a {
    display: block;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: $secondary;
    text-decoration: none;
  }
  img {
    margin: 61px auto 0;
  }
}
section.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;

  div {
    display: flex;

    ul.titles {
      border: 1px solid $primary02;
      border-radius: 4px;
      width: 157px;
      height: 484px;
      display: grid;
      grid-template-rows: repeat(4, 1fr) auto;
      padding: 0;
      li {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        &:last-child,
        &.active {
          color: $accent;
          background-color: $primary;
        }
        &:last-child {
          padding: 12px 0;
        }
      }
    }
    div.content {
      display: flex;
      flex-direction: column;
      width: 470px;
      margin: 0 20px;
      h4 {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 30px;
        color: $darkblack;
        margin: 0;
      }
      ul {
        list-style: none;
        display: grid;
        grid-template-columns: 212px 128px;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 21px;

        li {
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 140%;

          &::before {
            content: "";
            margin-right: 5px;
            display: inline-block;
            width: 16px;
            height: 16px;
            background-color: $secondary;
            border-radius: 100%;
            text-indent: -9000px;
          }
        }
      }
      p {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
      }
    }
    div.images {
      display: flex;
      flex-direction: column;
      img:first-child {
        margin-bottom: 21px;
      }
    }
  }
}
section.specialties {
  text-align: center;

  p {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: $secondary;
    margin: 64px auto;
    span {
      display: block;
      font-family: "Yeseva One";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 37px;
      color: $primary;
      margin-top: 8px;
    }
  }
  div.special {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 992px;
    margin: 0 auto;
    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 248px;
      height: 142px;
      text-decoration: none;
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $black;
      border: 0.15px solid rgba(0, 0, 0, 0.19);
      box-sizing: border-box;
      &.active {
        color: $accent;
        background-color: $primary;
      }
    }
  }
}
section.appointment {
  display: flex;
  justify-content: center;
  background-image: url(../img/backgroundbook.png);
  margin-top: 64px;
  margin-left: 25px;
  height: 573px;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 69px;
    span {
      font-family: "Yeseva One";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 37px;
      color: $secondary;
    }
    p {
      font-family: "Work Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: $black;
      display: block;
      width: 407px;
      margin-top: 16px;
    }
  }
  div.form-nav {
    form {
      display: grid;
      grid-template-columns: repeat(2, 245px);
      grid-template-rows: repeat(4, 50px) 190px 50px;
      input,
      select,
      textarea,
      button {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: $white;
        background-color: $primary;
        padding: 15px;
        border: 1px solid white;
        border-bottom: none;
        &::placeholder {
          color: $white;
        }
      }
      textarea {
        grid-column: 1/3;
        grid-row: 5/6;
      }
      button {
        grid-column: 1/3;
        grid-row: 6/7;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        text-transform: uppercase;
        color: $primary;
        background-color: $accent;
        border: none;
      }
    }
  }
}
section.doctors {
  display: flex;
  flex-direction: column;
  align-items: center;
  div.doc-face {
    display: flex;
    justify-content: center;
    gap: 21px;
    article {
      display: flex;
      flex-direction: column;
      background-color: $accent;
      align-items: center;
      p {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: $primary;
        margin: 24px auto 8px;
      }
      span {
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.16em;
        text-transform: uppercase;
      }
      div.social_net {
        a {
          svg {
            margin: 16px 10px 24px;
          }
        }
      }
      button {
        background-color: $primary;
        width: 100%;
        padding: 12px 0;
        a {
          text-decoration: none;
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          color: $accent;
        }
      }
    }
  }
  div.circle {
    display: flex;
    gap: 10px;
    span {
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 100%;
      background-color: $accent;
      margin-top: 32px;
      gap: 10px;
      &.active {
        background-color: $primary;
      }
    }
  }
}
section.information {
  div.news {
    width: 992px;
    margin: 64px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    article {
      display: flex;
      span {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        p {
          margin: 0;
          margin-top: 20px;
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 11px;
          line-height: 16px;
          color: $secondary;
        }
        span {
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 140%;
          color: $black;
          margin: 8px 0 24px 0;
        }
      }
    }
  }
}
section.contacts {
  div {
    display: flex;
    gap: 20px;
    justify-content: center;
    a {
      width: 174px;
      text-decoration: none;
      background-color: $accent;
      padding: 50px 30px;
      p {
        margin: 5px 0;
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        &.title-contact{
          font-family: 'Work Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 21px;
          text-transform: uppercase;
        }
      }
      &.active {
        color: $accent;
        background-color: $primary;
        p {
          color: $accent;
          span {
            color: $accent;
          }
        }
      }
      
    }
  }
}
@media (max-width: $breakpoint_mobile){
  
  section.sub-header{
    background: url(/assets/img/adaptive_sub-header.png) no-repeat center / cover;
    div{
      text-align: center;
      p.lead{
        font-size: 14px;
        line-height: 16px;
      }
      p.sub-lead{
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 24px;
      }
      a{
        margin: 0 auto;
      }
    }
  }
  section.goals{
    display: none;
  }
  section.welcome{
    width: 100%;
    margin: 41px 0;
    p{
      font-size: 16px;
      line-height: 140%;
    }
    
  }
  section.service{
   div{
     ul.titles{
       width: 100%;
       display: grid;
       margin: 0 16px;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 1fr 1fr 40px;
       li{
        font-size: 16px;
        line-height: 140%;
        width: 180px;
        &:last-child{
          grid-column: 1/3;
          height: 40px;
          width: 100%;
        }
       }
     }
     div.content,
     div.images{
       display: none;
     }
   }
  }
  section.specialties{
     div.special{
       display: none;
     }
  }
  section.appointment{
    margin: 0;
    height: 1001px;
    flex-direction: column;
    div{
      margin-bottom: 48px;
      width: 100%;
      text-align: center;
       p{
        font-size: 16px;
        line-height: 140%;
        width: auto;
       }
    }
    div.form-nav{
      form{
        display: flex;
        flex-direction: column;
        input,
        select,
        button{
          height: 50px;
        }
        textarea{
          height: 190px;
        }
      }
    }
  }
  section.doctors{
    div.doc-face{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      gap: 15px;
      article{
        opacity: 0.2;
        &:first-child{
          opacity: 1;
          grid-column: 2/3;
          grid-row: 1/2;
        }
        &:last-child{
          grid-column: 1/2;
          grid-row: 1/2;
        }
        &:nth-child(2){
          grid-column: 3/4;
          grid-row: 1/2;
        }
      }
    }
  }
  section.information{
    h3{
      margin-top: 48px;
    }
    div.news{
      display: none;
    }
  }
  section.contacts{
    display: none;
  }
}
